DATABASE_URL=postgresql://postgres:password@localhost:5432/teamate
ML_MODEL_URL=http://localhost:8000
APP_HOST=0.0.0.0
APP_PORT=8001
DEBUG=true
DEFAULT_WEATHER_LAT=6.9271
DEFAULT_WEATHER_LON=80.6005
SMS_PROVIDER=mock
